<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/head.html :: head">

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<nav th:replace="fragments/nav.html :: nav"></nav>
			</div>
		</div>
		<div class="row">
			<div class="col-12" th:if="${erros}">
				<div th:replace="fragments/erros.html ::div(${erros})"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-12" th:if="${success}">
				<div th:replace="fragments/success.html ::div(${success})"></div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class=" col-10">
				<a th:href="@{/grupos/create}">
					<button type="button" class="btn btn-secondary">
						Adicionar Grupos <i class="bi bi-plus"> </i>
					</button>
				</a>

			</div>
		</div>
		<br />
		<div class="row">

			<div class="col-12">
				<table id="table" class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each=" grupo : ${grupos}">
							<td th:text="${grupo.id}"></td>
							<td th:text="${grupo.nome}"></td>
							<td>
								<div class="row">
									<div class="col-2">
										<a th:href="@{/grupos/{id}/edit(id = ${grupo.id} )}">
											<button type="button" class="btn btn-primary">Editar</button>
										</a>
									</div>
									<div class="col-8">
										<form method="POST"
											th:action="@{/grupos/{id}/delete(id = ${grupo.id})}">
											<button type="submit" class="btn btn-danger">Excluir</button>
										</form>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#table").DataTable();
			});
		</script>
	</div>
</body>
</html>