<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head.html :: head"></head>

<body>
    <div class="container-fluid">
        <nav th:replace="fragments/nav.html :: nav"></nav>
        <form th:object="${agencia}" th:action="${url}" method="POST" id="form">
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome"
                        th:field="*{nome}" />
                        <div class="invalid-feedback d-block" th:errors="*{nome}">
						</div>
                </div>

            </div>
            <button type="submit" name="button" class="btn btn-primary">[[${buttonName}]]</button>


        </form>



    </div>
</body>

</html>